body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, blue,yellow);
    color: #222;
}

/* Header */
header {
    background: linear-gradient(yellow, #004aad 60%); /* Deep blue */
    color: blue;
    text-shadow: yellow 20;
    padding: 10px;
    text-align: center;
}



header nav a {
    color: yellow;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    display:inline-flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

header nav a:hover {
    text-decoration: underline;
    padding-left: 4px;
    padding-right: 4px;
   
}

/* Sections */
.section {
    padding: 50px 20px;
    max-width: 900px;
    margin:0 ;
}
h2 {
    color: #004aad;
}

blockquote {
    margin-top: 20px;
    padding: 15px;
    background: #fff8c4; /* soft yellow */
    border-left: 5px solid #ffd300;
    font-style: italic;
}

#home{
    background-image: url("TGP-CHOIR.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    color: brown;
    font-weight: bold;
    margin-top: 10px;
    overflow-x: hidden;
}
 

 img{
     max-width:100%;
     height:auto;
     display:block;
 }

/* Footer */
footer {
    background: #004aad;
    color: white;
    text-align: center;
    padding: 1px;
    margin-top: 30px;
}
audio:hover{
 background-color:red;
 color: blue;
 transform: skewX(12);
 transition: 0.4s ease-in-out
}



