*{
    margin: 0;
    max-width: 100%;
}
body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    color: #333;
    box-sizing: border-box;
    background-size: cover;
}
.all{
    margin: auto;
}

/* Header */
header {
    background:#fff; /* Deep blue */
    color: blue;
    text-shadow: yellow 20;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid black;
}

#contact{
    max-width: 400px;
    margin: auto;
    background: rgba(228, 218, 218, 0.178);
    padding: 20px;
    border-radius: 30px;
}


header nav a {
    color: #444;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    display:inline-flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

header nav a:hover {
    text-decoration: underline;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration-color: blue;
    color: #007bff;
}

/* Sections */
.section {
    padding: 50px 20px;
    max-width: 900px;
    margin:auto;
}
h2 {
    color: #004aad;
}

blockquote {
    margin-top: 20px;
    padding: 15px;
    background: #fff8c460; /* soft yellow */
    border-left: 5px solid #ffd300;
    font-style: italic;
}

#home {
    background-image: url(TGP-CHOIR.jpg);
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    max-width: 100%;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    overflow-x: hidden;
}
home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
}
 

/* Footer */
footer {
    background: #004aad;
    color: white;
    text-align: center;
    padding: 1px;
    margin-top: 30px;
}
audio:hover{
 background-color:red;
 color: blue;
 transform: skewX(12);
 transition: 0.4s ease-in-out
}
